@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
}

a{
    text-decoration: none;
}
#account span{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
}
#account span a{
    color: #737373;
    font-weight: 500;
}


